body{

    margin: 0;
}

.center{
    text-align: center;
    font-size: 35px;
}

.container{
    display: flex;
    justify-content: space-between;
}


.list-nav{
    list-style: none;
    padding-left: 22px;
}

/*alterações da left-sidebar*/
.left-sidebar{
    color: #4872AB;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    flex-basis: 18%;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    padding-left: 4px;
}

.leftside-image{
    left: 10px;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

.font-center{
    text-align: center;
}

.font-sub{
    font-size: 12px;
    position: fixed;
    top: 139px;
    left: 380px;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

/*alterações da right-sidebar*/
.right-sidebar{
    color: #4872AB;
    padding-top: 50px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    flex-basis: 20%;
    position: sticky;
    top: 10px;
    align-self: flex-start;
}

/*alterações da main-content*/
.main-content{
    flex-basis: 57%;
    font-family: 'Montserrat', sans-serif;
}

.imagem-usuario{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    display: inline-block;
    overflow: visible;
    
}

.nome-usuario{
    padding-top: 8px;
    padding-left: 16px;
    font-family: 'Montserrat', sans-serif;
    color: darkgreen;
}

.nome-usuario-2{
    padding-top: 8px;
    padding-left: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #4679c0;
}

.header-top{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 10px;
    position: fixed;
    top: 0px;
    z-index: 99;
}

.data{
    padding-top: 6px;
    text-align: right;
    color: #dc3545;
    font-size: 12px;
}

.card-body{
    padding-bottom: 0;
}

.botao-vote{
    margin-bottom: 0px;
}

.imagens{
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.hidden{
    text-align: center;
    color: rgb(185, 185, 185);
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

::placeholder{
    color: #95d62c;
}

/*alterações das opções na left-sidebar*/
.hover:hover{
    box-shadow: -3px 0px #4872AB;
    border-bottom-right-radius: 2px;
    background-color: rgb(248, 247, 247);
    color: #FFAD5A;
    transition-duration: 0.3s;
    /*border-radius:15px;*/
    padding: 4px;
}

.card-body{
    font-family: Arial, Helvetica, sans-serif;
}

.evento{
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.evento-titulo{
    font-size: 15px;
}

/*CSS da página de configurações*/

.font-config{
    color: #4872AB;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    flex-basis: 18%;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    padding-left: 4px;
}

.Sfont-config{
    font-family: 'Montserrat', sans-serif;
    color: #FFAD5A;
}

.font-info{
    font-size: 10px;
    color: darkgray;
}