.left-sidebar{
    color: #4872AB;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    padding-left: 4px;
}

.margem-top{
    margin-top: 65px;
}

.narbar-bar{
    display: inline;
}

.left-sidebar{
    color: #4872AB;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    padding-left: 4px;
}

.right-sidebar{
    color: #4872AB;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.hover:hover{
    box-shadow: -3px 0px #4872AB;
    border-bottom-right-radius: 2px;
    background-color: rgb(248, 247, 247);
    color: #FFAD5A;
    transition-duration: 0.3s;
    /*border-radius:15px;*/
    padding: 4px;
}

.font-sub{
    font-size: 12px;
    position: fixed;
    top: 139px;
    
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

.font-info{
	font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #304C73;
	position: fixed;
}

.font-center{
    text-align: center;
}

.card-body{
    padding-bottom: 0;
}

.card-body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-content{
    font-family: 'Montserrat', sans-serif;
}

.header-top{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 10px;
    position: fixed;
    top: 0px;
    z-index: 99;
}

.evento{
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.evento-titulo{
    font-size: 15px;
}

.imagens{
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.imagem-usuario{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    display: inline-block;
    overflow: visible;
    
}

.nome-usuario{
    padding-top: 8px;
    padding-left: 26px;
    font-family: 'Montserrat', sans-serif;
    color: darkgreen;
}

.nome-usuario-2{
    padding-top: 8px;
    padding-left: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #4679c0;
}

.hidden{
    text-align: center;
    color: rgb(185, 185, 185);
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

.data{
    padding-top: 11px;
    text-align: right;
    color: #dc3545;
    font-size: 12px;
}

.list-nav{
    list-style: none;
    padding-left: 22px;
}

.button-publi {
	color:antiquewhite; 
	/*background-color: #4872AB;*/
	background-color: #F68B1F;
	box-shadow: 1px 1px 2px darkgrey;
	border-radius: 50px;
	font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    position: fixed;
   	padding: 5px 74px 5px 74px;
	margin-left: 2px;
}

.button-publi:hover {
	color:antiquewhite; 
	background-color: #F57F22;
	box-shadow: -1px -1px 2px darkgrey;
	
}
