body{

    margin: 0;
}

.center{
    text-align: center;
    font-size: 35px;
}

.center-flex{
    
}

.container{
    display: flex;
    justify-content: space-between;
}


.list-nav{
    list-style: none;
    padding-left: 22px;
}

/*alterações da left-sidebar*/
.left-sidebar{
    color: #4872AB;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    flex-basis: 18%;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    padding-left: 4px;
}

.leftside-image{
    left: 10px;
}

/*alterações da right-sidebar*/
.right-sidebar{
    color: #4872AB;
    padding-top: 50px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    flex-basis: 20%;
    position: sticky;
    top: 10px;
    align-self: flex-start;
}

/*alterações da main-content*/
.main-content{
    flex-basis: 57%;
    font-family: 'Montserrat', sans-serif;
}

.imagem-usuario{
    display: inline-block;
    border-radius: 25%;
    overflow: hidden;
    width: 25px;
    height: 50px;
}

.nome-usuario{
    padding-top: 6px;
    padding-left: 16px;
    font-family: 'Montserrat', sans-serif;
}

.header-top{
background-color: white;
    padding-top: 25px;
    padding-bottom: 10px;
    position: fixed;
    top: 0px;
}

/*alterações das opções na left-sidebar*/
.hover:hover{
    box-shadow: -3px 0px #4872AB;
    border-bottom-right-radius: 2px;
    background-color: rgb(248, 247, 247);
    color: #FFAD5A;
    transition-duration: 0.3s;
    /*border-radius:15px;*/
    padding: 4px;
}

.card-body{
    font-family: Arial, Helvetica, sans-serif;
}

.data{
    padding-top: 6px;
}
